@model  JetSetupPortal.PortalCore.Model.ResetPasswordContract
@{
    ViewBag.Title = "Reset Password";
    ViewBag.CrumbTitle = "Reset Password";
    var error = ViewBag.Error as string;
}
@section styles {
    <link rel="stylesheet" type="text/css" href="~/Content/assets/libs/select2/dist/css/select2.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/assets/libs/jquery-minicolors/jquery.minicolors.css">
    <link rel="stylesheet" type="text/css" href="~/Content/assets/libs/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/assets/libs/quill/dist/quill.snow.css">
}

<div class="row">
    <div class="col-md-6">
        <div class="card">
            @using (Html.BeginForm("ResetPassword", "Portal", FormMethod.Post, new { @class = "form-horizontal" }))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(model => model.UserId)
                <div class="card-body">
                    @if (!string.IsNullOrEmpty(error) && error.Length > 0)
                    {
                        <div class="alert alert-danger" role="alert">
                            @Html.Raw(error)
                        </div>
                    }

                    <div class="form-group row">
                        <label for="Username" class="col-sm-3 text-right control-label col-form-label">Username</label>
                        <div class="col-sm-9">
                            <input type="password" class="form-control" id="Username" name="Username">
                        </div>
                    </div>
                    
                    <div class="border-top">
                        <div class="card-body">
                            <button type="submit" class="btn btn-primary float-right">Reset Password</button>
                        </div>
                    </div>

                </div>


            }

        </div>
    </div>
</div>