



<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="icon" href="~/Content/assets/images/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link href="~/Content/skin2/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/skin2/css/mdb.min.css" rel="stylesheet">
    <link href="~/Content/skin2/css/style.css" rel="stylesheet">

    <!-- New Login ||Reference -->
    <link rel="stylesheet" type="text/css" href="~/Content/skin2/vendor/animate/animate.css">
    <link rel="stylesheet" type="text/css" href="~/Content/skin2/vendor/css-hamburgers/hamburgers.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/skin2/vendor/select2/select2.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/skin2/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/Content/skin2/css/main.css">
    <style>
        form{
            margin: 0 auto;
        }
    </style>
</head>
<body class="bg-auth">
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <div class="login100-pic js-tilt pt-4" data-tilt>
                    <img src="~/Content/skin2/img/loginIlustra.jpg" alt="">
                </div>
                @RenderBody()
            </div>
        </div>
    </div>


    <script type="text/javascript" src="~/Content/skin2/js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="~/Content/skin2/js/popper.min.js"></script>
    <script type="text/javascript" src="~/Content/skin2/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Content/skin2/js/mdb.min.js"></script>
    <script src="~/Content/skin2/vendor/select2/select2.min.js"></script>
    <script src="~/Content/skin2/vendor/tilt/tilt.jquery.min.js"></script>
    <script>
        $('.js-tilt').tilt({
            scale: 1.1
        })
    </script>
    <script src="~/Content/skin2/js/main.js"></script>

</body>

</html>






