
@{
    ViewBag.Title = "Lookups";
    ViewBag.PgTitle = "Lookup Dashboard";
}
<div class="row">
    <div class="col-md-6">
        <h4>Client</h4>
        <select class="browser-default custom-select custom-select-lg mb-3 input-new">
            <option selected>Select Client...</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
        </select>
    </div>
    <div class="col-md-6">
        <h4>Product</h4>
        <select class="browser-default custom-select custom-select-lg mb-3 input-new">
            <option selected>Select Product...</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
        </select>
    </div>
</div>
<hr />
<h4><i class="fas fa-graduation-cap"></i> Academic</h4>
<div class="row pb-4">
    <div class="col-md-3">
        <div class="card p-3 edu-info">
            <span class=""><strong>Discipline</strong></span>
            <span class="badge edu-color pb-0 fa-pull-right pb-1" style="font-size: 18px">200</span>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card p-3 edu-info">
            <span class=""><strong>Class of Certificate</strong></span>
            <span class="badge edu-color pb-0 fa-pull-right pb-1" style="font-size: 18px">04</span>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card p-3 edu-info">
            <span class=""><strong>O’level Exams Body</strong></span>
            <span class="badge edu-color pb-0 fa-pull-right pb-1" style="font-size: 18px">10</span>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card p-3 edu-info">
            <span class=""><strong>O’level Grade</strong></span>
            <span class="badge edu-color pb-0 fa-pull-right pb-1" style="font-size: 18px">10</span>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card p-3 edu-info">
            <span class=""><strong>O’level Subject</strong></span>
            <span class="badge edu-color pb-0 fa-pull-right pb-1" style="font-size: 18px">200</span>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card p-3 edu-info">
            <span class=""><strong>Degree Qualification</strong></span>
            <span class="badge edu-color pb-0 fa-pull-right pb-1" style="font-size: 18px">04</span>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card p-3 edu-info">
            <span class=""><strong>Institute</strong></span>
            <span class="badge edu-color pb-0 fa-pull-right pb-1" style="font-size: 18px">10</span>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card p-3 edu-info">
            <span class=""><strong>NYSC</strong></span>
            <span class="badge edu-color pb-0 fa-pull-right pb-1" style="font-size: 18px">10</span>
        </div>
    </div>
</div>
<hr />
<h4><i class="fas fa-user-tie"></i>Experience</h4>
<div class="row pb-4">
    <div class="col-md-4">
        <div class="card p-3 exp-info">
            <span class=""><strong>Experience Duration</strong></span>
            <span class="badge exp-color pb-0 fa-pull-right pb-1" style="font-size: 18px">64</span>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card p-3 exp-info">
            <span class=""><strong>Leadership Experience</strong></span>
            <span class="badge exp-color pb-0 fa-pull-right pb-1" style="font-size: 18px">40</span>
        </div>
    </div>
    @*<div class="col-md-4">
            <div class="card p-3 exp-info">
                <span class=""><strong>NYSC</strong></span>
                <span class="badge exp-color pb-0 fa-pull-right pb-1" style="font-size: 18px">10</span>
            </div>
        </div>*@
</div>

<hr />
<h4><i class="fas fa-certificate"></i>Professional Certificate</h4>
<div class="row pb-4">
    <div class="col-md-4">
        <div class="card p-3 p-info">
            <span class=""><strong>Professional Qualification</strong></span>
            <span class="badge p-color pb-0 fa-pull-right pb-1" style="font-size: 18px">58.49</span>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card p-3 p-info">
            <span class=""><strong>Professional Body Ward</strong></span>
            <span class="badge p-color pb-0 fa-pull-right pb-1" style="font-size: 18px">04</span>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card p-3 p-info">
            <span class=""><strong>Award</strong></span>
            <span class="badge p-color pb-0 fa-pull-right pb-1" style="font-size: 18px">10</span>
        </div>
    </div>
</div>
<hr />

<h4><i class="fas fa-asterisk"></i>Others</h4>
<div class="row pb-4">
    <div class="col-md-4">
        <div class="card p-3 oth-info">
            <span class=""><strong>Others 1</strong></span>
            <span class="badge oth-color pb-0 fa-pull-right pb-1" style="font-size: 18px">58.49</span>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card p-3 oth-info">
            <span class=""><strong>Others 2</strong></span>
            <span class="badge oth-color pb-0 fa-pull-right pb-1" style="font-size: 18px">04</span>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card p-3 oth-info">
            <span class=""><strong>Others 3</strong></span>
            <span class="badge oth-color pb-0 fa-pull-right pb-1" style="font-size: 18px">10</span>
        </div>
    </div>
</div>

@*<div class="row">
    <div class="col-md-6">
        <h4><i class="fas fa-certificate"></i> Professional</h4>
        <table class="table text-white">
            <thead>
                <tr>
                    <td class="secondary-color">
                        <span>Professional Body</span>
                        <span class="badge bg-light fa-pull-right" style="color: #292828!important;font-size: 16px;">0</span>
                    </td>
                    <td class="secondary-color" style="border-left: thin solid #DDDDDD;">
                        Professional Award
                        <span class="badge bg-light fa-pull-right" style="color: #292828!important;font-size: 16px;">0</span>
                    </td>
                </tr>
            </thead>
        </table>
        <table class="table text-white" style="margin-top:-15px;">
            <thead>
                <tr>
                    <td class="secondary-color">
                        <span>Professional Qualification</span>
                        <span class="badge bg-light fa-pull-right" style="color: #292828!important;font-size: 16px;">0</span>
                    </td>
                </tr>
            </thead>
        </table>
    </div>
    <div class="col-md-6">
        <h4><i class="fas fa-user-tie"></i> Experience</h4>
        <table class="table text-white">
            <thead>
                <tr>
                    <td class="default-color-dark">
                        <span>Experience Duration</span>
                        <span class="badge bg-light fa-pull-right" style="color: #292828!important;font-size: 16px;">0</span>
                    </td>
                    <td class="default-color-dark" style="border-left: thin solid #DDDDDD;">
                        <span class="badge bg-light fa-pull-right" style="color: #292828!important;font-size: 16px;">0</span>
                    </td>
                </tr>
            </thead>
        </table>
        <table class="table text-white" style="margin-top:-15px;">
            <thead>
                <tr>
                    <td class="default-color-dark">
                        <span></span>
                        <span class="badge bg-light fa-pull-right" style="color: #292828!important;font-size: 16px;">0</span>
                    </td>
                </tr>
            </thead>
        </table>
    </div>
</div>*@


@*<hr />
<h4><i class="fas fa-map-marker-alt"></i> Location</h4>
<div class="row">
    <div class="col-md-7">
        <table class="table text-white">
            <thead>
                <tr>
                    <td class="orange darken-4">
                        <span>Country</span>
                        <span class="badge bg-light fa-pull-right" style="color: #292828!important;font-size: 16px;">0</span>
                    </td>
                    <td class="orange darken-4" style="border-left: thin solid #DDDDDD;">
                        Local Government
                        <span class="badge bg-light fa-pull-right" style="color: #292828!important;font-size: 16px;">0</span>
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="orange darken-4">
                        State
                        <span class="badge bg-light fa-pull-right" style="color: #292828!important;font-size: 16px;">0</span>
                    </td>
                    <td class="orange darken-4" style="border-left: thin solid #DDDDDD;">
                        Exam Location
                        <span class="badge bg-light fa-pull-right" style="color: #292828!important;font-size: 16px;">0</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-5">
        <table class="table text-white">
            <thead>
                <tr>
                    <td class="orange darken-4">
                        Exam Center <span class="badge bg-light fa-pull-right" style="color: #292828!important;font-size: 16px;">0</span>
                    </td>
                </tr>
            </thead>
        </table>
    </div>
</div>*@

@section scripts{

    <script src="~/Content/assets/js/d3/d3.js"></script>
    <script src="~/Content/assets/js/rickshaw/rickshaw.js"></script>
    <!-- Morris Chart js -->
    <script src="~/Content/assets/js/raphael/raphael.min.js"></script>
    <script src="~/Content/assets/js/morris/morris.js"></script>
    <!-- Horizontal-Timeline js -->
    <script type="text/javascript" src="~/Content/assets/pages/dashboard/horizontal-timeline/js/main.js"></script>


    <script type="text/javascript" src="~/Content/assets/pages/dashboard/horizontal-timeline/js/main.js"></script>
    <script type="text/javascript" src="~/Content/assets/pages/dashboard/amchart/js/amcharts.js"></script>
    <script type="text/javascript" src="~/Content/assets/pages/dashboard/amchart/js/serial.js"></script>
    <script type="text/javascript" src="~/Content/assets/pages/dashboard/amchart/js/light.js"></script>
    <script type="text/javascript" src="~/Content/assets/pages/dashboard/amchart/js/custom-amchart.js"></script>
    <script type="text/javascript" src="~/Content/assets/pages/dashboard/amchart/js/custom-amchart.js"></script>

    <script type="text/javascript" src="~/Content/assets/pages/dashboard/custom-dashboard.js"></script>
}

