@model   GlobalLitePortal.PortalCore.Model.ResetPasswordContract
@{
    Layout = null;
    var error = ViewBag.Error as string;
    var hasError = !string.IsNullOrEmpty(error);
}

<div class="modal fade" id="Modal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Alert Model</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @if (hasError)
                {
                    <div class="alert alert-danger" role="alert" id="customError">
                        <h4>Error!</h4>
                        <p>@Html.Raw(error)</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                }
                else
                {
                    using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmResetPassword", data_parsley_validate = "" }))
                    {
                        <div class="col-md-12 col-sm-12">
                            <div id="dvError"></div>
                            <div class="form-group">
                                Username
                                <input type="text" class="form-control " value="@Model.Username" id="txtUsername" name="Username" required="" data-parsley-required-message="Username is required">
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-success" id="btnUpdate">Reset Password</button>
                            </div>
                        </div>
                    }


                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Reset</button>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#frmResetPassword').parsley().on('field:validated', function() {
            var ok = $('.parsley-error').length === 0;
            $('.alert-success').toggleClass('hidden', !ok);
            $('.alert-danger').toggleClass('hidden', ok);
        }).on('form:submit', function () {
            ClearInlineError("dvError");

            var username = $("#txtUsername").val();

            if (username == null || username === "" || username.length < 2) {
                InlineErrorMessage("Invalid / Empty Username", "dvError");
                return false;
            }


            $.ajax({
                type: "POST",
                url: '@Url.Action("ProcessPasswordResetRequest", "Portal")',
                data: JSON.stringify({ myUsername: username}),
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    if (!data.IsAuthenticated) {
                        window.location.href = "/Login";
                        return;
                    }
                    if (!data.IsSuccessful) {
                        InlineErrorMessage(data.Error ? data.Error : "Unknown error occured. Please try again later!", "dvError");
                       swal({
                            title: "",
                            text: data.Error ? data.Error : "Unknown error occured. Please try again later!",
                            type: "error",
                            showCancelButton: false,
                            confirmButtonText: "Close",
                            closeOnConfirm: true,
                        }, function (isConfirm) {
                            if (isConfirm) {
                               // window.location.reload();
                            }
                        });

                    } else {
                        //$('#dvModal').modal('hide');
                        InlineSuccessMessage("New Password: " + data.Error, "dvError");
                        swal({
                            title: "",
                            text: "Password was changed successfully",
                            type: "success",
                            showCancelButton: false,
                            confirmButtonText: "Ok",
                            closeOnConfirm: true,
                        }, function (isConfirm) {
                            if (isConfirm) {

                            }
                        });
                    }
                },
                complete: function () {
                    $(".loader").hide();
                    $("#loadingMessage").html("");
                }
            });
            return false;
        });



    });


</script>