@model  GlobalLitePortal.PortalCore.Model.ChangePasswordContract
@{
    ViewBag.Title = "Change Password";
    ViewBag.AuthTitle = "Change Password";
    Layout = "~/Views/Shared/_AuthorizeLayout.cshtml";
    var error = ViewBag.Error as string;
}

@using (Html.BeginForm("ChangeFirstTimePassword", "Portal"))
{
    @Html.AntiForgeryToken()
    if (!string.IsNullOrEmpty(error) && error.Length > 0)
    {
        <div class="alert alert-danger" role="alert">
            @Html.Raw(error)
        </div>
    }

    @Html.HiddenFor(model => model.Username)
    @Html.HiddenFor(model => model.UserId)
    <div class="input-group">
        <input type="password" id="OldPassword" name="OldPassword" class="form-control form-control-lg portal-log-form" placeholder="Current Password" aria-label="Old Password" required="">
        <span class="md-line"></span>
    </div>
    <div class="input-group mt-1">
        <input type="password" id="NewPassword" name="NewPassword" class="form-control form-control-lg portal-log-form" placeholder="New Password" aria-label="New Password" required="">
        <span class="md-line"></span>
    </div>
    <div class="input-group mt-1">
        <input type="password" id="ConfirmPassword" name="ConfirmPassword" class="form-control form-control-lg portal-log-form" placeholder="Confirm Password" aria-label="Confirm Password" required="">
        <span class="md-line"></span>
    </div>
    <div class="row m-t-30 mt-2">
        <div class="col-md-12">
            <button type="submit" class="btn btn-success btn-sm btn-md btn-block waves-effect text-center">Update Password</button>
        </div>
    </div>

}

